body {
    background-color: #ffffff;
    color: #262626;
}

.slider-header h2,
.slider-header p {
    text-transform: uppercase;
    text-align: left;
}

.slider-header h2 {
    margin-top: 5px;
}

.slider-header p {
    margin-bottom: 5px;
}

:focus {
    outline: 0;
}

.main-slider h3 {
    background-size: cover;
}

.slider-for h3 {
    line-height: 200px;
}

.slider-for h3 a {
    background-color: #ffffff;
    padding: 10px;
    color: #262626;
}

.slick-slider {
    margin: 0px auto 20px;
}
